<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="frediehills Home tutors" content="home tutors">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous"> -->
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <title>frediehills edu home tutors </title>
</head>
<body>
    <nav>
        <nav class="navbar">
            <div class="navbar__header">
                <!-- <h1>svg logo</h1> -->
                <div class="logo">       
                    <h1 class="logo1">FREDIE-HILLS EDU</h1>
                <div class="logo2">
                    <div class="logo3">
                        <i class="fas fa-phone"></i> 08065384549
                        or.... <span>&#128073;&#127998;</span> <button id="cal"><a href="#form__tinz" class="callback">Request a call back</a></button>
                    </div>
                </div>
            </div>

                

                <div class="navbar__btn">
                    <div class="bar bar1"></div>
                    <div class="bar bar1"></div>
                    <div class="bar bar1"></div>
                </div>
            </div>
            <ul class="navbar__links">
                <li>
                    <a href="#" class="navbar__single-link">
                        <i class="fas fa-home"></i>home
                    </a>
                    <a href="#about__things" class="navbar__single-link">
                        <i class="fas fa-graduation-cap"></i>about         
                    </a>
                    <a href="#service__things" class="navbar__single-link">
                        <i class="fas fa-book"></i>services
                    </a>
                    <a href="#contact__things" class="navbar__single-link">
                        <i class="fas fa-phone"></i>contact
                    </a>
                </li>
            </ul>
        </nav>
    </nav>

    <header >
        <main class="banner0">
            <article class="banner1">
                <h2>why not talk to us at fredi hills edu-consult</h2>
            </article>
            <article class="banner2">
                <p>in our quest to have you taken by the hand from the comfort of your home to an 
                    enviable academic height unimaginable anywhere across the world?</p>
            </article>
        </main>
    </header>
    
            


    <section class="about">
        <div class="about__center">
            <article class="about__text">
                <h2 class="about0" id="about__things">about us</h2>
                <p class="about__text">
                    Fredi-hills edu consult offers personalized, resourceful, pleasant but firm short and long 
                    term private home tutoring through a large network of qualified tutors in a wide range of 
                    subject areas ranging from basic or primary school level to junior and senior high school, 
                    as well as strategic exam preparation across multifarous spheres in the mode of COMMON ENTERANCE, SSCE, NECO, UTME,
                     POST UTME, SAT, TOEFL, IGCSE, IELTS, IB and GRE, plus a profound unlimited post-mentoring 
                     support afterwards.
                </p>
            </article>
                <article class="about__info">
                        <p class="about__info-text1">
                                We are a retinue of passionate educational syndicate , whose primary objective seeks
                                to imbibe a DISTINCTION-WORTH educational spree in order to ready students and exam candidates
                                ahead of locally and internationally recognized exams at all levels.
                        </p>
                </article>
            </div>
        </section>





        <section class="bodybkground">

            <section class="services">
                   <div class="section-title">
                       <h2 class="service__header" id="service__things">our services</h2>
                   </div>
                       <div class="services__center">
                       <article class="service__info">
                           <div class="single__service-icon">
                               <i class="fas fa-graduation-cap"></i>
                           </div>
                           <h3 class="service__header1">short and long-term tutoring</h3>
                           <p class="service__info1">
                               We offer short and long term intensive teaching, sequel to preparing students for crucial exams
                               such as:COMMON ENTERANCE, SSCE, NECO, UTME, SAT, TOEFL,IGCSE, IELTS, IB and GRE.
                           </p>
                       </article>
                       <article class="service__info">
                           <div class="single__service-icon">
                               <i class="fas fa-book"></i>
                           </div>
                           <h3 class="service__header1">home schooling</h3>
                           <p class="service__info1">
                               We also boast an academic plan geared at bringing your school to you, thereby, keeping you at parity 
                               with your peers by virtue of our optimally designed and updated syllabus.                        
                           </p>
                       </article>
                       <article class="service__info">
                           <div class="single__service-icon">
                               <i class="fas fa-pen-alt"></i>
                           </div>
                           <h3 class="service__header1">adult education</h3>
                           <p class="service__info1">
                               Fredie-hills offers you competent tutors who are trained in adult basic literacy education and have got extensive 
                               experience at providing academic support to adults of all ages.
                           </p>
                       </article>
                       <article class="service__info">
                           <div class="single__service-icon">
                               <i class="fas fa-chalkboard-teacher"></i>
                           </div>
                           <h3 class="service__header1">post mentorship</h3>
                           <p class="service__info1">
                                   Also in the cart is an exclusive free post-mentoring support which could linger for as many weeks or even months.
                           </p>
                       </article>
                     </div>
               </section>
   
   <!-- ................................................................... -->
   
   <section class="testimony">
       <div class="testimony__text">
           <p class="testimony__text1">
               We have a record of outstanding success stories to prove our ultimate efficiency at providing our students with 
               remarkable teaching aids, aimed at securing DISTINCTIONS at various exam adventures as delineated on the testimonies’
                section below:
           </p>
       </div>
   </section>
   
   <section class="test">
       <div class="section-title">
           <h2 class="test__header">testimonies</h2>
       </div>
           <div class="test__center">
           <article class="test__info">
               <div class="single__test-icon">
                   <i class="fas fa-quote-right"></i>
               </div>
               <h3 class="test__header1">doctor adewale toriola</h3>
               <p class="test__info1">
                   Seeing my dear son to a successful TOEFL triumph and scholarship acquisition will forever be appreciated . 
                   You have and will always earn recommendations from me and family.
               </p>
           </article>
           <article class="test__info">
               <div class="single__test-icon">
                   <i class="fas fa-quote-right"></i>
               </div>
               <h3 class="test__header1">barrister eze onyekwere</h3>
               <p class="test__info1">
                   My daughter can now go on to become an accomplished medical doctor after a remarkable mathematics and science
                    guidance from Fredie-hills all through her high school pursuit.                        
               </p>
           </article>
           <article class="test__info">
               <div class="single__test-icon">
                   <i class="fas fa-quote-right"></i>
               </div>
               <h3 class="test__header1">engineer lanre idris</h3>
               <p class="test__info1">
                   My son’s last holiday marked a huge turn around after adopting the services of Fredi-hills … I envisage Fredi-hills becoming etched
                   in the glorious history of Nigerian academic transformation.
               </p>
           </article>
           <article class="test__info">
               <div class="single__test-icon">
                   <i class="fas fa-quote-right"></i>
               </div>
               <h3 class="test__header1">mr jubril ibrahim</h3>
               <p class="test__info1">
                   I’d like to thank Fredie-hills for their amazing work in guiding our sons into harvests of distinctions on his SSCE exams.
               </p>
           </article>
         </div>
   </section>
   
   
   <!-- ........................................................................... -->
       <section class="call">
           <article class="call__now">
               <h2 class="call__header">so,</h2>
               <p class="call__us">
                       why not affix your wards with skillful and experienced teachers whose ethos thrive at putting students ahead 
                       early enough through academic schemes, building confidence and assurance in key and seemingly weak areas, getting
                        help with assignments, improving performance level, enhancing academic enjoyment and motivation across all subjects
                         in class, and adequate preparation for high-end exams by reaching out to us below or requesting a call-back…???
               </p>
           </article>
       </section>
       
   
   
       <section class="contact">
           <div class="contact__title">
               <h1 class="contact__title-header" id="contact__tinz" >contact us</h1>
           </div>
           <div class="contact__center">
               <form action="/client" method="POST" class="myform" id="form__tinz">
                   <div class="contact__input">
                       <input type="text" name="client[fname]" id="" placeholder="Enter first name" class="contact__fname">
                       <input type="text" name="client[sname]" id="" placeholder="Enter last name" class="contact__sname">
                       <input type="number" name="client[phone]" id="" placeholder="Enter phone number" class="contact__number">
                   </div>
                   <textarea class="contact__textarea" name="client[text]" id="" cols="30" rows="10">How can we be of help?</textarea>
                   <button type="submit" value="send" class="contact__btn">
                       <span class="contact__icon">
                           <i class="fas fa-plane"></i>
                       </span>
                       send message
                   </button>
               </form>
           </div>
       </section>
           
       
   
           <section class="reachout">
               <article class="reachout__container">
                   <div class="reachout__address">
                       <div class="reachout__icon">
                           <i class="fas fa-map-pin"></i>
                       </div>
                       <p class="reachout__address-text">
                           24, gbemisola house, off omole, phase 1, ojodu, lagos
                       </p>
                   </div>
                   <div class="reachout__mobile">
                       <div class="reachout__mobile-number">
                           <i class="fas fa-headphones-alt"></i>
                       </div>
                           <p class="number" id="contact__things">08065384549</p>
                       <div class="reachout__mobile-email">
                       <i class="fas fa-envelope"></i>
                       </div>
                       <p class="email">leolenux@gmail.com</p>
                   </div>
               </article>
           </section>
               
                       
           <footer class="footer">
               <div class="footer__icons">
                   <a href="#" class="footer__single-icon">
                       <i class="fab fa-facebook"></i>
                   </a>
                   <a href="#" class="footer__single-icon">
                       <i class="fab fa-twitter"></i>
                   </a>
                   <a href="#" class="footer__single-icon">
                       <i class="fab fa-instagram"></i>
                   </a>
               </div>
           </footer>
        </section>

        
                
        
   
        <script src="js/index.js"></script>
    </body>
</html>

                    
                    

        


        








                
                
        